In [ ]:
!pip install sqlmodel

In [1]:
from typing import Optional

from sqlmodel import (
    Field,
    SQLModel,
    text,
    Relationship,
    create_engine
)
import uuid


class User(SQLModel, table=True):
    __tablename__ = "users"
    __table_args__ = {'extend_existing': True}
    id: Optional[int] = Field(
        default=None,
        primary_key=True,
        index=True,
        nullable=False,
    )
    name: str
    secret_name: str

In [2]:
SQLModel.metadata.tables

FacadeDict({'users': Table('users', MetaData(), Column('id', Integer(), table=<users>, primary_key=True, nullable=False), Column('name', AutoString(), table=<users>, nullable=False), Column('secret_name', AutoString(), table=<users>, nullable=False), schema=None)})

In [3]:
import sqlite3
from sqlmodel import create_engine

Create the sqlite database

In [8]:
c = sqlite3.connect('test.db')

Create the tables using sqlmodel

In [9]:
url = "sqlite:////content/test.db"
engine = create_engine(url, echo=True)

SQLModel.metadata.create_all(engine)

2023-11-30 16:23:25,562 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2023-11-30 16:23:25,566 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("users")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("users")

2023-11-30 16:23:25,570 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2023-11-30 16:23:25,573 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("users")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.table_info("users")

2023-11-30 16:23:25,576 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2023-11-30 16:23:25,579 INFO sqlalchemy.engine.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	secret_name VARCHAR NOT NULL,
	PRIMARY KEY (id)
)

INFO:sqlalchemy.engine.Engine:
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	secret_name VARCHAR NOT NULL,
	PRIMARY KEY (id)
)

2023-11-30 16:23:25,582 INFO sqlalchemy.engine.Engine [no key 0.00227s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00227s] ()

2023-11-30 16:23:25,600 INFO sqlalchemy.engine.Engine CREATE INDEX ix_users_id ON users (id)

INFO:sqlalchemy.engine.Engine:CREATE INDEX ix_users_id ON users (id)

2023-11-30 16:23:25,605 INFO sqlalchemy.engine.Engine [no key 0.00419s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00419s] ()

2023-11-30 16:23:25,621 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

In [10]:
import pandas as pd
con = sqlite3.connect("test.db")
df = pd.read_sql_query("SELECT * from users", con)
df

Empty DataFrame
Columns: [id, name, secret_name]
Index: []

In [11]:
user_hai = User(name="other", secret_name="as")

In [12]:
from sqlmodel import Session
with Session(engine) as session:
    session.add(user_hai)
    session.commit()

2023-11-30 16:23:31,177 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2023-11-30 16:23:31,184 INFO sqlalchemy.engine.Engine INSERT INTO users (name, secret_name) VALUES (?, ?)

INFO:sqlalchemy.engine.Engine:INSERT INTO users (name, secret_name) VALUES (?, ?)

2023-11-30 16:23:31,190 INFO sqlalchemy.engine.Engine [generated in 0.00674s] ('other', 'as')

INFO:sqlalchemy.engine.Engine:[generated in 0.00674s] ('other', 'as')

2023-11-30 16:23:31,196 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

In [13]:
df = pd.read_sql_query("SELECT * from users", con)
df

   id   name secret_name
0   1  other          as